.btn {
  border-radius: 50px;
  white-space: nowrap;
  padding: 12px 30px;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

/* Primary Button */
.btn--primary {
  background-color: rgba(0, 0, 0, 0.8); /* Change primary color */
  color: #fff;
}

/* Outline Button */
.btn--outline {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff; 
}

/* Button Sizes */
.btn--medium {
  padding: 10px 28px;
  font-size: 16px;
}

.btn--large {
  padding: 12px 36px;
  font-size: 18px;
}

/* Button Hover Effects */
.btn:hover {
  transform: scale(1.05); /* Stylish hover effect */
  background-color: #f26a2e; /* Change background color on hover */
  color: #fff;
}
